main {
  margin: 5vh auto;
  width: 36em;

  h1, h2, h3 {
    text-align: left;
    text-transform: lowercase;
  }

  h1 {
    text-transform: lowercase;
    border-bottom: 6px double black;
    text-align: center;
  }

  .social {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    li {
      display: inline-block;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}

footer {
  width: 36em;
  display: block;
  margin: auto;
  text-align: center;
}
