main {
  margin: 5vh auto;
  height: 90vh;
  width: 30em;

  h1, h2 {
    text-align: left;
  }

  .social {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

footer {
  bottom: 2vh;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  text-align: center;
}
